.App {
  font-weight: bold;
  font-size: 20px;
}

button {
  box-sizing: border-box;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: palegreen;
  border: 0px solid;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  background-color: green;
}

li {
  font-weight: bold;
  font-size: 20px;
}
